<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubrika</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    </style>
</head>
<body>
    <!-- Sidebar -->
    <nav class="sidebar">
        <button class="sidebar-item">All</button>
        <hr>
        <div th:each="topic :  ${topics}">
            <button class="sidebar-item" th:text="${topic.title}"></button>
        </div>
    </nav>

    <main class="main">
        <!-- Note Example 1 -->
        <div class="note" th:each="note : ${notes}">
            <div class="note-header">
                <span class="topic">Blender journey</span> <!--TODO: Should use dto, maybe?-->
                <span class="date" th:text="${note.date}"></span>
                <span class="word-count">200 words</span>  <!--TODO: Update service. And use dto for sure-->
                <span class="title" th:text="${note.title}"></span>
                <button class="delete-btn">Delete</button>
            </div>
            <div class="note-content">
                <p th:text="${note.text}"></pre>
            </div>
        </div>

    </main>
</body>
</html>
